/* Styles for Flexbox Landing Page tutorial project */

* {
	margin: 0;
	padding: 0;
	border: 1px dashed #777;
}

html, body {
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

/* Background classes */
.bg-dark {
	background-color: #1f2937;
}

.bg-blue {
	background-color: #3882f6;
}

.bg-grey {
	background-color: #e5e7eb;
}



/* Text color classes */
.text-light {
	color: #f9faf8;
}

.text-light-secondary {
	color: #e5e7eb;
}

.text-dark {
	color: #1F2937;
}

.border-blue {
	border-color: #3882f6;
}

/* Header and navbar */
.brand h1 {
	font-size: 24px;
}

.navbar {
	padding: 20px 0;
}

.navbar .container {
	justify-content: space-between;
}

.navbar nav {
	gap: 40px;
}

.navbar nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e5e7eb;
	text-decoration: none;
	font-size: 18px;
}

/* button(s) */
button {
	padding: 5px 25px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
}

/* Hero section */
#hero {
	padding: 75px 0;
}

#hero .container {
	gap: 40px;
}

.hero-message h2 {
	font-size: 48px;
	font-weight: 900;
}

.hero-message p {
	font-size: 18px;
	padding: 10px 0;
}

/* Info cards section */
#info-cards {
	padding: 40px 0;
}

.cards-heading {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
}

.cards-container {
	padding: 40px 0 0;
	/*flex: 1;*/
	justify-content: space-between;
	gap: 40px;
}

.card {
	flex: 1;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	text-align: center;
}

.card p {
	padding-top: 5px;
	color: #444;
	font-weight: 500;
}

.card img {
	width: 100%;
	border-width: 3px;
	border-style: solid;
	border-radius: 15px;
}

/* Quote section */
#quote {
	padding: 75px 0;
}

#quote p {
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
}

#quote cite {
	display: block;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
	font-style: normal;
}

/* CTA section */
#cta {
	padding: 75px 0;
}

.cta-container {
	padding: 50px 0;
	justify-content: space-around;
	border-radius: 10px;
}

.cta-button {
	display: flex;
	align-items: center;
}

.cta-button button {
	border: 2px solid #fff;
}