/* Styles for Flexbox Landing Page tutorial project */

* {
	margin: 0;
	padding: 0;
	border: 1px dashed #777;
}

html, body {
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 75%;
}

.bg-dark {
	background-color: #1f2937;
}

.bg-blue {
	background-color: #3882f6;
}

.bg-grey {
	background-color: #e5e7eb;
}